.status-ok #index-nextdiagram {
	color: green;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
  outline: 1px solid gold;
  text-align: right;
  cursor: pointer;
}

.status-ko #index-nextdiagram {
	display: none;
}

