section[data-type="sidebar"] > nav > ul {
	padding-bottom: 110px
}

section[data-type="sidebar"] > nav > ul > li > label {
	cursor: pointer;
}

section[data-type="sidebar"] > nav > ul > li.solved {
	color: rgba(255, 255, 255, 0.5);
}

section[data-type="sidebar"] > nav > ul:not([data-showsolved="true"]) > li.solved {
  font-size: 0;
  padding: 0;
  height: 0;
  min-height: 0;
}
section[data-type="sidebar"] > nav > ul:not([data-showsolved="true"]) > li.solved:after {
	border: none;
}

[data-ready="true"] section[data-type="sidebar"] > nav > ul > li.solved {
	transition: all ease 0.25s;
}

#index-sidebar-showsolvedlabel {
	color: white;
}
#index-sidebar-showsolvedlabel:active {
	background: #00ABCC;
}
[data-ready="true"] #index-sidebar-showsolvedlabel {
	transition: background 0.25s ease;
}

